---
import { actions } from "astro:actions";
import { z } from "astro/zod";

import FormField from "~/components/form/form-field.astro";
import ModalForm from "~/components/form/modal-form.astro";
import Modal from "~/components/modal/modal.astro";
import AvailableRoomsSelect from "./_available-rooms-select.astro";
import { endDateCalendar, type CalendarData } from "./_lease-calendar-helpers";

export const partial = true;

const { start_date: startDate } = Astro.locals.parseQuery(
	z.object({ start_date: z.iso.date().optional() }),
);

// penghuni baru tidak ada riwayat sewa no disable
const startDateCalendar: CalendarData = { disabled: [] };
const endDateCalendarData: CalendarData = startDate
	? endDateCalendar(startDate)
	: { enabled: [] };
---

<Modal
	id="add_tenant"
	title="Tambah Kontrak Sewa"
	icon="lucide:user-plus"
	modalClass="max-w-3xl"
>
	<ModalForm
		action={actions.manage.tenants.add}
		modalId="add_tenant"
		submitLabel="Simpan Kontrak"
		target="#form_result, #tenants-content-wrapper"
	>
		<FormField label="Nama Lengkap">
			<input
				class="input w-full"
				name="full_name"
				type="text"
				placeholder="Nama sesuai KTP..."
				required
			/>
		</FormField>
		<FormField label="Nomor HP (WhatsApp)">
			<label class="input w-full">
				<span class="label">+62</span>
				<input
					name="phone_number"
					type="text"
					placeholder="81234567890..."
					required
				/>
			</label>
		</FormField>
		<FormField label="Daerah Asal">
			<input
				class="input w-full"
				name="origin_region"
				type="text"
				placeholder="Opsional (misal: Bandung, Surabaya...)"
			/>
		</FormField>

		<div class="divider text-xs tracking-wider uppercase opacity-60">
			Kontrak Sewa
		</div>

		<FormField
			helperText="Hanya menampilkan kamar dengan status kosong/tersedia"
			label="Pilih Kamar Tersedia"
		>
			<AvailableRoomsSelect />
		</FormField>

		<div class="grid grid-cols-2 gap-3">
			<FormField label="Tanggal Mulai">
				<div
					hx-get={Astro.url.pathname}
					hx-trigger="input from:next"
					class="add-period vc w-full"
					data-calendar={JSON.stringify(startDateCalendar)}
					hx-include="input[name=start_date]"
					hx-select="#add-period-end"
					hx-swap="outerHTML"
					hx-target="#add-period-end"
				>
				</div>
				<input
					class="input w-full"
					name="start_date"
					type="text"
					readonly
					required
				/>
			</FormField>
			<FormField label="Tanggal Selesai">
				<div
					class="add-period vc w-full"
					id="add-period-end"
					data-calendar={JSON.stringify(endDateCalendarData)}
				>
				</div>
				<input class="input w-full" name="end_date" type="text" readonly />
			</FormField>
		</div>
	</ModalForm>
</Modal>

<script>
	import { initCalendar } from "./_lease-calendar";

	initCalendar({
		selector: ".add-period",
		onClickDate: ({ calendar, date }) => {
			const input = calendar.nextElementSibling as HTMLInputElement;
			input.value = date ?? "";

			if (input.name === "start_date") {
				const endDateInput = calendar
					.closest(".grid")
					?.querySelector("input[name=end_date]");
				if (endDateInput instanceof HTMLInputElement) endDateInput.value = "";
			}

			input.dispatchEvent(new Event("input"));
		},
	});
</script>
